{
	email moritz@mchristoffers.dev
	acme_ca https://acme-v02.api.letsencrypt.org/directory
	auto_https disable_redirects
	http_port 8080
	https_port 8443
}

paperlessmcp.mchristoffers.dev {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1
	}

	reverse_proxy paperlessmcp:5000
}
